.film {
  width: 250px;
  height: 400px;
  border-radius: .6rem;
  box-shadow: 0 0 8px #c1c1c1;
  margin: 1rem;

  &__prev {
    display: flex;
    flex-flow: column;
    width: 240px;
    margin: auto;
    height: 250px;
  }

  &__image {
    margin: .5rem;
    height: 100%;
  }
  .film__description{

    &__title {
      margin: 1rem;
    }

    &__genre {
      margin: 1rem;
    }
  }
}
