.film {
  width: 250px;
  height: 400px;
  border-radius: .6rem;
  box-shadow: 0 0 8px #c1c1c1;
  margin: 1rem;

  &__prev {
    width: 240px;
    margin: auto;
    height: 200px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    margin: 1rem;
  }

  &__genre {
    margin: 1rem;
  }
}