.film {
  width: 250px;
  min-height: 400px;
  border-radius: .6rem;
  box-shadow: 0 0 8px #c1c1c1;
  margin: 1rem;

  &__prev {
    display: flex;
    flex-flow: column;
    width: 230px;
    margin: auto;
    height: 300px;
  }

  &__image {
    margin: .5rem;
    height: 100%;
  }
  &__description {
    width: 230px;
    margin: 1rem 1rem auto;
  }

  &__title {
    font-size: 14px;
  }

  &__genre {
    font-size: 12px;
  }

}
